<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
  
      <header class="page-header">
        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <!-- <img src="images/me.jpg" alt="my photo" class="avatar" style="height: 132px;"> -->
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

      </header>


      <!-- begin My Research -->
      <section class="content-section">
        <header class="section-header">
          <h2>My Research</h2>
        </header>

        <div class="executive-summary" style="font-size:17px;">
          <p>My research focuses on <b>constructing multi-faceted taxonomy</b> from massive unstructured text corpora and <b>enhancing text understanding</b> with constructed taxonomies, based on which actionable knowledge can be further uncovered to power intelligent services and applications. Particularly, I am interested in developing effective models that <b>learn from partially- and noisily-labeled data</b> and building usable systems that interact with people for knowledge acquisition.
          </p>
        </div>

      </section>
      <!-- end My Research -->

      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">University of Illinois at Urbana-Champaign ( UIUC ) </h3>
          <h4 class="resume-item-details">Ph.D. Candidate in Computer Science  &bull; Aug. 2016 &mdash; May 2021 (expected)</h4>
          <ul class="resume-item-list">
            <li> Overall GPA: 4.0/4.0 </li>
            <li> Member of Data Mining Group. Supervised by Professor <b>Jiawei Han</b>. </li>
            <li> Received <b>Brian Totty Graduate Fellowship</b> at Computer Science Department. </li>
            <li> Received <b>Yunni & Maxine Pao Memorial Fellowship</b>. </li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Shanghai Jiao Tong University ( SJTU )</h3>
          <h4 class="resume-item-details">B.S.E. in Computer Science and Technology  &bull; Sep. 2012 &mdash; Jun. 2016</h4>
		      <ul class="resume-item-list">
    		    <li>Overall GPA: 3.92/4.0 (91.71/100) &#160;&#160;&#160; <b>Major GPA: 3.98/4.0 (93.78/100)</b> &#160;&#160;&#160; <b>Rank: 1/78</b></li>
    		    <li>Member of <a href="http://english.seiee.sjtu.edu.cn/english/info/8338.htm" target = "_blank">IEEE honor class</a>, an elite program at SJTU which aims to nurture scientists in computer science, electrical and electronic technology, and information science based on MIT’s educational model.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Yale University</h3>
          <h4 class="resume-item-details">International Exchange Student  &bull; Jun. 2014 &mdash; Aug. 2014 </h4>
    		  <ul class="resume-item-list">
    		  	<li>One of 10 top students fully funded by notable alumnus <a href="http://www.forbes.com/profile/neil-shen/" target = "_blank">Neil Shen</a>.</li>
    		  	<li>Studied in the Intensive English Program at <a href="http://summer-eli.yale.edu/" target = "_blank">English Language Institute</a>.</li>
    		    <li>Earned “Certificate of Excellence” at Yale University.</li>
          </ul>
        </div>
        
      </section>
      <!-- end Education -->

            
      <!-- begin Industry Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Industry Experience</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Microsoft Research</h3>
          <h4 class="resume-item-details">Research Intern &bull; May 2019 &mdash; Aug. 2019 </h4>
          <ul class="resume-item-list">
            <li>Worked on self-supervised taxonomy expansion project.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">LinkedIn</h3>
          <h4 class="resume-item-details">External Researcher &bull; Sep. 2018 &mdash; Oct. 2019 </h4>
          <ul class="resume-item-list">
            <li>Worked on hypernymy discovery from text-rich heterogeneous information network.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Google</h3>
          <h4 class="resume-item-details">Software Engineering Intern &bull; May 2017 &mdash; Aug. 2017 </h4>
          <ul class="resume-item-list">
            <li>Studied multi-task learning for building query-dependent neural ranking model in personal search.</li>
          </ul>
        </div>

      </section>
      <!-- end Industry Experience -->

      <!-- begin Teaching Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Teaching Experience</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">UIUC CS512: Data Mining Principle</h3>
          <h4 class="resume-item-details">Teaching Assistant &bull; Jan. 2020 &mdash; May 2020 </h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">SJTU CS114: Programming and Data Structures</h3>
          <h4 class="resume-item-details">Teaching Assistant &bull; Feb. 2015 &mdash; Jul. 2015 </h4>
        </div>

      </section>
      <!-- end Teaching Experience -->

      <!-- begin Services -->
      <section class="content-section">

        <header class="section-header">
          <h2>Services</h2>
        </header>
        
		    <div class="resume-item">
          <ul class="resume-item-list" style="font-size: 18px;">
            <li><b>PC Member</b> of The 2020 Conference on Empirical Methods in Natural Language Processing (EMNLP) &bull; 2020  </li>
            <li><b>PC Member</b> of The European Conf. on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (ECML-PKDD) &bull; 2020  </li>
            <li><b>PC Member</b> of The 58th annual meeting of the Association for Computational Linguistics  (ACL) &bull; 2020  </li>
            <li><b>PC Member</b> of Thirty-Fourth AAAI Conference on Artificial Intelligence (AAAI) &bull; 2020  </li>
            <li><b>Reviewer</b> of ACM Intl. Conf. on Web Search and Data Mining (WSDM) &bull; 2018  </li>
            <li><b>Reviewer</b> of ACM SIGKDD Intl. Conf. on Knowledge Discovery and Data Mining (KDD)  &bull; 2017  </li>
            <li><b>Reviewer</b> of ACM SIGIR Conf. on Research & Development in Information Retrieval (SIGIR) &bull; 2017  </li>
            <li><b>Reviewer</b> of Conference on Empirical Methods in Natural Language Processing (EMNLP) &bull; 2017  </li>
            <li><b>Leader</b> of IEEE Honor Class  &bull; 2012 -- 2016  </li>
            <li><b>Personal Tutor</b> of <i>Mathematical Analysis</i> Course &bull; 2012 -- 2013 </li>
			      <li><b>Teaching Assistant</b> of <i>Programming and Data Structures</i> Course &bull; 2013 -- 2014  </li>
            <li><b>Volunteer</b> for Shanghai International Marathon &bull; 2013 -- 2014  </li>
            <li><b>Member</b> of the Student Union of the School of Electronic Information and Electrical Engineering &bull; 2013 -- 2015 </li>
          </ul>
        </div>

      </section>
      <!-- end Services -->
      
      
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

		    <div class="resume-item">
          <ul class="resume-item-list" style="font-size: 18px;">
            <li><b>Programming Language:</b> Python, C++, MATLAB, R, Mathematica </li>
            <li><b>Deep Learning Platforms:</b> PyTorch, TensorFlow </li>
            <li><b>Tools:</b> Git, Latex, Vim, Linux, Keynote, MS Offices, OmniGraffle </li>
          </ul>
        </div>
        
      </section>
      <!-- end Skills -->

	 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    {% include ga.html %}
    

  </body>

</html>