<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
  

		<!-- begin Publication Experiences -->
      <section class="content-section" style="margin-top:30px;">

        <header class="section-header">
          <h2>Publications (by Years)</h2>
        </header>

    <div class = "resume-item">
      <h4 class="resume-item-details">2022</h4>
	<ul class="resume-item-list">
	<!-- DeepLo -->
          <li>
            Pengfei Yu*, <b>Zixuan Zhang</b>*, Clare R. Voss, Jonathan May, and Heng Ji. <a href="" target="_blank">Building an Event Extractor with Only a Few Examples</a>, In Proceedings of the 3rd Workshop on Deep Learning Approaches for Low-Resource NLP (<b>NAACL 2022 DeepLo</b>).
          [<a href="" target="_blank", style="color:rgb(255,0,0);">Paper</a>] [<a href="" target="_blank", style="color:rgb(255,0,0);">Code</a>]
		</li>
	  <br><br>
          <!-- kairos demo -->
          <li>
            Xinya Du, <b>Zixuan Zhang</b>, Sha Li, Pengfei Yu, Hongwei Wang, Tuan Manh, Xudong Lin, Ziqi Wang, Iris Liu, Ben Zhou, Haoyang Wen, Manling Li, Darryl Hannan, Qi Zeng, Qing Lyu, Charles Yu, Carl Edwards, Xiaomeng Jin, Yizhu Jiao, Ghazaleh Kazeminejad, Rotem Dror, Zhenhailong Wang, Chris Callison-Burch, Mohit Bansal, Carl Vondrick, Jiawei Han, Dan Roth, Shih-Fu Chang, Martha Palmer, Heng Ji <a href="https://aclanthology.org/2021.acl-long.489.pdf" target="_blank">RESIN-11: Schema-guided Event Prediction for 11 Newsworthy Scenarios</a>, In Proceedings of 2022 Annual Conference of the North American Chapter of the Association for Computational Linguistics: System Demonstrations (<b>NAACL 2022 Demo Track</b>).
          [<a href="https://aclanthology.org/2021.acl-long.489.pdf" target="_blank", style="color:rgb(255,0,0);">Paper</a>] [<a href="https://github.com/zhangzx-uiuc/Knowledge-AMR" target="_blank", style="color:rgb(255,0,0);">Code</a>]
		</li>
	  <br><br>
          <!-- aida demo -->
          <li>
            Manling Li, Revanth Gangi Reddy, Ziqi Wang, Yi-shyuan Chiang, Tuan Lai, Pengfei Yu, <b>Zixuan Zhang</b>, Heng Ji. <a href="https://www.aclweb.org/anthology/2021.naacl-main.4.pdf" target="_blank"> COVID-19 Claim Radar: A Structured Claim Extraction and Tracking System</a>, In Proceedings of the 60th Annual Meeting of the Association for Computational Linguistics: System Demonstrations (<b> ACL 2022 Demo Track</b>).
            [<a href="https://www.aclweb.org/anthology/2021.naacl-main.4.pdf" target="_blank", style="color:rgb(255,0,0);">Paper</a>] [<a href="https://github.com/zhangzx-uiuc/AMR-IE" target="_blank", style="color:rgb(255,0,0);">Code</a>]
          </li>

        </ul>
      <h4 class="resume-item-details">2021</h4>
        <ul class="resume-item-list">
	<!-- eventKE -->
          <li>
            <b>Zixuan Zhang</b>, Hongwei Wang, Han Zhao, Hanghang Tong, and Heng Ji. <a href="" target="_blank">EventKE: Event-enhanced Knowledge Graph Embeddings</a>, In Findings of the 2021 Conference on Empirical Methods in Natural Language Processing (<b><i>Findings of EMNLP</i> 2021</b>).
          [<a href="" target="_blank", style="color:rgb(255,0,0);">Paper</a>] [<a href="" target="_blank", style="color:rgb(255,0,0);">Code</a>]
		</li>
	  <br><br>
          <!-- biomedical -->
          <li>
            <b>Zixuan Zhang</b>, Nikolaus Parulian, Heng Ji, Ahmed Elsayed, Skatje Myers, and Martha Palmer. <a href="https://aclanthology.org/2021.acl-long.489.pdf" target="_blank">Fine-grained Information Extraction from Biomedical Literature based on Knowledge-enriched Abstract Meaning Representation</a>, In Proc. of the Joint Conference of the 59th Annual Meeting of the Association for Computational Linguistics and the 11th International Joint Conference on Natural Language Processing (<b><i>ACL-IJCNLP</i> 2021</b>).
          [<a href="https://aclanthology.org/2021.acl-long.489.pdf" target="_blank", style="color:rgb(255,0,0);">Paper</a>] [<a href="https://github.com/zhangzx-uiuc/Knowledge-AMR" target="_blank", style="color:rgb(255,0,0);">Code</a>]
		</li>
	  <br><br>
          <!-- amrie -->
          <li>
            <b>Zixuan Zhang</b>, and Heng Ji. <a href="https://www.aclweb.org/anthology/2021.naacl-main.4.pdf" target="_blank">Abstract Meaning Representation Guided Graph Encoding and Decoding for Joint Information Extraction</a>, In Proc. of The Conference of the North American Chapter of the Association for Computational Linguistics - Human Language Technologies (<b><i>NAACL-HLT</i> 2021</b>).
            [<a href="https://www.aclweb.org/anthology/2021.naacl-main.4.pdf" target="_blank", style="color:rgb(255,0,0);">Paper</a>] [<a href="https://github.com/zhangzx-uiuc/AMR-IE" target="_blank", style="color:rgb(255,0,0);">Code</a>]
          </li>

        </ul>
		</div>

      </section>
      <!-- end Publication Experiences-->
      
      
 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    {% include ga.html %}
    

  </body>

</html>
