<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
  

		<!-- begin Publication Experiences -->
      <section class="content-section" style="margin-top:30px;">

        <header class="section-header">
          <h2>Publications (by Years)</h2>
        </header>

    <div class = "resume-item">
      <h4 class="resume-item-details">2020</h4>
        <ul class="resume-item-list">
          <!-- EMNLP SynSetExpan -->
          <li>
            <b>Jiaming Shen*</b>, Wenda Qiu*, Jingbo Shang, Michelle Vanni, Xiang Ren, and Jiawei Han. <a href="https://arxiv.org/pdf/2009.13827.pdf" target="_blank">SynSetExpan: An Iterative Framework for Joint Entity Set Expansion and Synonym Discovery</a>, In Proc. of The 2020 Conference on Empirical Methods in Natural Language Processing (<b><b><i>EMNLP</i></b</b>> 2020).
            [<a href="https://drive.google.com/drive/u/1/folders/1X2S7YNHsGEzHk_f5PlpXH_unSZQdCk-o" target="_blank">Data</a>]
            [<a href="\resources\EMNLP2020_SynSetExpan_slides.pdf" target="_blank">Slide</a>]
          </li>
          <!-- EMNLP StegaText -->
          <li>
            <b>Jiaming Shen</b>, Heng Ji, and Jiawei Han. <a href="https://arxiv.org/pdf/2010.00677.pdf" target="_blank">Near-imperceptible Neural Linguistic Steganography via Self-Adjusting Arithmetic Coding</a>, In Proc. of The 2020 Conference on Empirical Methods in Natural Language Processing (<b><i>EMNLP</i> 2020</b>).
            [<a href="https://github.com/mickeystroller/StegaText" target="_blank">Code & Data</a>]
            [<a href="\resources\EMNLP2020_StegaText_slides.pdf" target="_blank">Slide</a>]
          </li>
          <!-- WWW 2020 TaxoExpan -->
          <li>
            <b>Jiaming Shen</b>, Zhihong Shen, Chenyan Xiong, Chi Wang, Kuansan Wang, and Jiawei Han. <a href="https://arxiv.org/abs/2001.09522">TaxoExpan: Self-supervised Taxonomy Expansion with Position-Enhanced Graph Neural Network</a>, In The 31st International Conference in the Web (<b><i>WWW</i> 2020</b>). 
            [<a href="https://github.com/mickeystroller/TaxoExpan" target="_blank">Code & Data</a>]
            [<a href="http://mickeystroller.github.io/2020/04/15/WWW20-TaxoExpan.html" target="_blank">Blog Post</a>]
            [<a href="https://www.youtube.com/watch?v=5N7cWigDrDw&t" target="_blank">Recorded Presentation</a>] 
          </li>      
          <!-- ACL 2020 CGExpan-->
          <li>
            Yunyi Zhang, <b>Jiaming Shen</b>, Jingbo Shang, and Jiawei Han. <a href="https://arxiv.org/abs/2004.13897" target="_blank">Empower Entity Set Expansion via Language Model Probing</a>, In The 58th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2020</b>).
            [<a href="https://github.com/yzhan238/CGExpan" target="_blank">Code & Data</a>]
          </li>
          <!-- ICTIR 2020  -->
          <li>
            Dominic Seyler, <b>Jiaming Shen</b>, Jinfeng Xiao, Yiren Wang, and ChengXiang Zhai. <a href="http://publish.illinois.edu/dominic-seyler/files/2020/10/seyler-ictir-2020-leveraging.pdf" target="_blank">Leveraging Personalized Sentiment Lexicons for Sentiment Analysis</a>, In The 10th International Conference on the Theory of Information Retrieval (<b><i>ICTIR</i> 2020</b>).
          </li>
          <!-- KDD 2020 STEAM-->
          <li>
            Yue Yu, Yinghao Li, <b>Jiaming Shen</b>, Hao Feng, Jimeng Sun, and Chao Zhang. <a href="https://arxiv.org/pdf/2006.10217.pdf" target="_blank">STEAM: Self-Supervised Taxonomy Expansion with Mini-Paths</a>, In The 26th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2020</b>).
            [<a href="https://github.com/yueyu1030/STEAM" target="_blank">Code & Data</a>]
          </li>
          <!-- ECMLPKDD 2020 FUSE-->
          <li>
            Wanzheng Zhu, Hongyu Gong, <b>Jiaming Shen</b>, Chao Zhang, Jingbo Shang, Suma Bhat, and Jiawei Han. <a href="https://arxiv.org/abs/1910.04345" target="_blank">FUSE: Multi-faceted set expansion by coherent clustering of skip-grams</a>, In The 2020 European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<b><i>ECMLPKDD</i> 2020</b>).
          </li>
          <!-- WWW 2020 SetCoExpan-->
          <li>
            Jiaxin Huang, Yiqing Xie, Yu Meng, <b>Jiaming Shen</b>, Yunyi Zhang, and Jiawei Han. <a href="https://arxiv.org/pdf/2001.10106.pdf" target="_blank">Guiding Corpus-based Set Expansion by Auxiliary Sets Generation and Co-Expansion</a>, In The 31st International Conference in the Web (<b><i>WWW</i> 2020</b>).
          </li>
        </ul>

      <h4 class="resume-item-details">2019</h4>
        <ul class="resume-item-list">
          <!-- AAAI 2019 SynSetMine -->
          <li> <b>Jiaming Shen</b>, Ruiliang Lyu, Xiang Ren, Michelle Vanni, Brian Sadler, and Jiawei Han. <a href="https://arxiv.org/pdf/1811.07032.pdf" target="_blank"> Mining Entity Synonyms with Efficient Neural Set Generation</a>, In The 33rd AAAI Conference on Artificial Intelligence (<b><i>AAAI</i> 2019</b>).
            [<a href="https://github.com/mickeystroller/SynSetMine-pytorch" target="_blank">Code</a>]
            [<a href="https://synsetmine.readthedocs.io/en/latest/?badge=latest#" target="_blank">Full Documentation</a>]
            [<a href="http://bit.ly/SynSetMine-dataset" target="_blank">Data</a>]
            [<a href="\resources\AAAI2019_SynSetMine_slides.pdf" target="_blank">Slide</a>]
          </li>

          <!-- CIKM 2019  -->
          <li> 
            Yu Shi<sup>*</sup>, <b>Jiaming Shen<sup>*</sup></b>, Yuchen Li, Naijing Zhang, Xinwei He, Zhengzhi Lou, Qi Zhu, Matthew Walker, Myunghwan Kim, and Jiawei Han. <a href="https://arxiv.org/abs/1909.01584" target="_blank">Discovering Hypernymy in Text-Rich Heterogeneous Information Network by Exploiting Context Granularity</a>, In The 28th ACM International Conference on Information and Knowledge Management (<b><i>CIKM</i> 2019</b>).
            [<a href="https://github.com/ysyushi/HyperMine" target="_blank">Code</a>]
            [<a href="http://bit.ly/HyperMine-dataset" target="_blank">Data</a>]
          </li>

          <!-- AAAI 2019 WeSHClass -->
          <li> Yu Meng, <b>Jiaming Shen</b>, Chao Zhang, and Jiawei Han. <a href="https://arxiv.org/abs/1812.11270" target="_blank"> Weakly-Supervised Hierarchical Text Classification</a>, In The 33rd AAAI Conference on Artificial Intelligence (<b><i>AAAI</i> 2019</b>).
            [<a href="https://github.com/yumeng5/WeSHClass" target="_blank">Code</a>]
            [<a href="\resources\AAAI2019_Yu_Meng_slides.pdf" target="_blank">Slide</a>]
          </li>

          <!-- KDD 2019  -->
          <li> 
            Jingbo Shang, <b>Jiaming Shen</b>, Liyuan Liu, and Jiawei Han. <a href="https://shangjingbo1226.github.io/2019-04-22-kdd-tutorial/" target="_blank"> Constructing and Mining Heterogeneous Information Networks from Massive Text</a>, In The 25th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2019</b> Tutorial).
          </li>

          <!-- ACL 2019  -->
          <li> 
            Junyi Du, He Jiang, <b>Jiaming Shen</b>, and Xiang Ren. <a href="https://arxiv.org/abs/1906.11384" target="_blank"> Eliciting Knowledge from Experts: Automatic Transcript Parsing for Cognitive Task Analysis</a>, In The 57th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2019</b>).
            [<a href="https://github.com/INK-USC/procedural-extraction" target="_blank">Code & Data</a>]
          </li>

        </ul>

      <h4 class="resume-item-details">2018</h4>
        <ul class="resume-item-list">
          <!-- CIKM 2018 QC-MTLNN -->
          <li><b>Jiaming Shen</b>, Maryam Karimzadehgan, Michael Bendersky, Zhen Qin, and Donald Metzler. <a href="https://arxiv.org/abs/1809.05618" target = "_blank">Multi-Task Learning for Personal Search Ranking with Auxiliary Query Clustering</a>, In The 27th ACM International Conference on Information and Knowledge Management (<b><i>CIKM</i> 2018</b>). 
          [<a href="https://github.com/yumeng5/WeSTClass" target="_blank">Code</a>]
          [<a href="\resources\CIKM18_MTL_slides.pdf" target="_blank">Slide</a>]
          </li>
          <!-- KDD 2018 HiExpan -->
          <li><b>Jiaming Shen</b>, Zeqiu Wu, Dongming Lei, Chao Zhang, Xiang Ren, Michelle T. Vanni, Brian M. Sadler, and Jiawei Han. <a href="http://hanj.cs.illinois.edu/pdf/kdd18_jshen.pdf" target="_blank">HiExpan: Task-Guided Taxonomy Construction by Hierarchical Tree Expansion</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2018</b>).
          [<a href="https://github.com/mickeystroller/HiExpan" target="_blank">Code</a>]
          </li>
          <!-- SIGIR 2018 SetRank -->
          <li><b>Jiaming Shen</b>, Jinfeng Xiao, Xinwei He, Jingbo Shang, Saurabh Sinha, and Jiawei Han. <a href="https://arxiv.org/abs/1804.10877" target="_blank">Entity Set Search of Scientific Literature: An Unsupervised Ranking Approach</a>, In The 41st International ACM SIGIR Conference on Research and Development in Information Retrieval (<b><i>SIGIR</i> 2018</b>).
          [<a href="https://github.com/mickeystroller/SetRank" target="_blank">Code</a>]
          </li>
          <!-- KDD Demo 2018 SetSearch+ -->
          <li><b>Jiaming Shen</b>, Jinfeng Xiao, Yu Zhang, Carl Yang, Jingbo Shang, Jinda Han, Saurabh Sinha, Peipei Ping, Richard Weinshilboum, Zhiyong Lu and Jiawei Han, <a href="http://www.kdd.org/kdd2018/files/project-showcase/KDD18_paper_1815.pdf" target="_blank">SetSearch+: Entity-Set-Aware Search and Mining for Scientific Literature</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2018</b> Demo Track).
          [<a href="http://128.174.244.6:8080/" target="_blank">System</a>]
          </li>
          <!-- CIKM 2018 Weakly-supervsed Text Classification -->
          <li>Yu Meng, <b>Jiaming Shen</b>, Chao Zhang, and Jiawei Han. <a href="https://arxiv.org/abs/1809.01478" target="_blank">Weakly-Supervised Neural Text Classification</a>, In The 27th ACM International Conference on Information and Knowledge Management (<b><i>CIKM</i> 2018</b>).
          [<a href="https://github.com/yumeng5/WeSTClass" target="_blank">Code</a>]
          </li>
          <!-- CIKM 2018 Stance-aware Rumor News Detection -->
          <li>Jingbo Shang, <b>Jiaming Shen</b>, Tianhang Sun, Xingbang Liu, Anja Gruenheid, Flip Korn, Adam Lelkes, Cong Yu, and Jiawei Han. <a href="https://arxiv.org/pdf/1802.07398v2.pdf" target="_blank">Investigating Rumor News Using Agreement Aware Search</a>, In The 27th ACM International Conference on Information and Knowledge Management (<b><i>CIKM</i> 2018</b>).
          </li>
          <!-- KDD Demo 2018 FTS -->
          <li>Hanwen Zha, <b>Jiaming Shen</b>, Keqian Li, Warren Greiff, Michelle Vanni, Jiawei Han and Xifeng Yan, <a href="http://www.kdd.org/kdd2018/files/project-showcase/KDD18_paper_1813.pdf" target="_blank">FTS: Faceted Taxonomy Construction and Search for Scientific Publications</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2018</b> Demo Track).
          [<a href="http://fts.cs.ucsb.edu" target="_blank">System</a>]
          </li>
          <!-- KDD Demo 2018 AutoNet -->
          <li>Jingbo Shang, Qi Zhu, <b>Jiaming Shen</b>, Xuan Wang, Xiaotao Gu, Lance Kaplan, Timothy Harratty and Jiawei Han, <a href="http://www.kdd.org/kdd2018/files/project-showcase/KDD18_paper_1812.pdf" target="_blank">AutoNet: Automated Network Construction and Exploration System from Domain-Specific Corpora</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2018</b> Demo Track).
          </li>
          <!-- ACL 2018 Yuning-RL -->
          <li>Yuning Mao, Xiang Ren, <b>Jiaming Shen</b>, and Jiawei Han. <a href="https://arxiv.org/abs/1805.04044" target="_blank">End-to-End Reinforcement Learning for Automatic Taxonomy Induction</a>, In The 56th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2018</b>). 
          [<a href="https://github.com/morningmoni/TaxoRL" target="_blank">Code</a>]
          </li>
          <!-- KDD Tutorial 2018 -->
          <li>Jingbo Shang, Chao Zhao, <b>Jiaming Shen</b>, and Jiawei Han. Towards Multidimensional Analysis of Text Corpora", In The 24th ACM SIGKDD International Conference on Knowledge (<b><i>KDD</i> 2018</b>).
          [<a href="https://shangjingbo1226.github.io/2018-04-21-kdd-tutorial/" target="_blank">Tutorial Website</a>]
          </li>
          <!-- KDD 2018 TaxoGen -->
          <li>Chao Zhang, Fangbo Tao, Xiusi Chen, <b>Jiaming Shen</b>, Meng Jiang, Brian M. Sadler, Michelle T. Vanni, and Jiawei Han. <a href="http://hanj.cs.illinois.edu/pdf/kdd18_czhang.pdf" target="_blank">TaxoGen: Constructing Topical Concept Taxonomy by Adaptive Term Embedding and Clustering</a>, In The 24th ACM SIGKDD International Conference on Knowledge (<b><i>KDD</i> 2018</b>).
          [<a href="https://github.com/franticnerd/taxogen" target="_blank">Code</a>]
          </li>
          <!-- Journal  -->
          <!-- <li>David A. Liem, Sanjana Murali, Dibakar Sigdel, Yu Shi, Xuan Wang, <b>Jiaming Shen</b>, Howard Choi, J Harry Caufield, Wei Wang, Peipei Ping, and Jiawei Han. "Phrase Mining of Textual Data to Analyze Extracellular Matrix Protein Patterns Across Cardiovascular Disease", In <b><i>American Journal </b>of Physiology-Heart and Circulatory Physiology</i>.< --></b>
        </ul>

      <h4 class="resume-item-details">2017</h4>
        <ul class="resume-item-list">
          <!-- ECMLPKDD SetExpan -->
          <li><b>Jiaming Shen<sup>*</sup></b>, Zeqiu Wu<sup>*</sup>, Dongming Lei, Jingbo Shang, Xiang Ren, and Jiawei Han, <a href="\resources\ECMLPKDD2017.pdf" target="_blank">SetExpan: Corpus-Based Set Expansion via Context Feature Selection and Rank Ensemble</a>, In The European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<b><i>ECMLPKDD</i> 2017</b>). 
          [<a href="https://github.com/mickeystroller/SetExpan" target="_blank">Code</a>]
          </li>
          <!-- ACL Demo LifeNet-->
          <li>Xiang Ren, <b>Jiaming Shen</b>, Meng Qu, Xuan Wang, Zeqiu Wu, Qi Zhu, Meng Jiang, Fangbo Tao, Saurabh Sinha, David Liem, Peipei Ping, Richard Weinshilboum, and Jiawei Han, <a href="\resources\ACL-Demo-2017.pdf" target="_blank">Life-iNet: A Structured Network-Based Knowledge Exploration and Analytics System for Life Sciences</a>, In The 55th annual meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2017</b> System Demo). 
          </li>
        </ul>

      <h4 class="resume-item-details">2016</h4>
        <ul class="resume-item-list">
        <!-- ICDM Workshop Junxian -->
        <li>Junxian He, Yin Huang, Changfeng Liu, <b>Jiaming Shen</b>, Yuting Jia, and Xinbing Wang, <a href="\resources\ICDM2016.pdf" target="_blank">Text network exploration via heterogeneous web of topics</a>, In The Sixth IEEE ICDM Workshop on Data Mining in Networks (<b><i>ICDM</i> 2016</b> Workshop). </li>
        </ul>

			<h4 class="resume-item-details">2015</h4>
			<ul class="resume-item-list">
        <!-- AAAI Topical LDA -->
				<li><b>Jiaming Shen</b>, Zhenyu Song, Shitao Li, Zhaowei Tan, Yuning Mao, Luoyi Fu, Li Song, and Xinbing Wang, <a href="\resources\AAAI2016_SBD.pdf" target="_blank">Modeling Topic-level Academic Influence in Scientific Literatures</a>, In The Thirtieth AAAI Conference on Artificial Intelligence (<b><i>AAAI</i> 2016</b>) Workshop on Scholarly Big Data. 
        [<a href="\resources\AAAI2016_slides.pdf" target="_blank">Slide</a>]
        </li>
				<li><b>Jiaming Shen</b>, Zhaowei Tan, Luoyi Fu, and Xinbing Wang, <a href="\resources\CCCF2015.pdf" target="_blank">Trend Analysis of Top-tier Conferences in Computer Network Field</a>, In <b><i>Communications of </b>the China Computer Federation</11</i>(9), 62-66, 2015. 
        </li>
				<li>Zhaowei Tan, Changfeng Liu, Yuning Mao, <b>Jiaming Shen</b>, Bin Wang, Luoyi Fu, Li Song, and Xinbing Wang, <a href="\resources\WWW2016.pdf" target="_blank">AceMap: A Novel Approach towards Displaying Relationship among Academic Literatures</a>, In The 25th International World Wide Web Conference (<b><i>WWW</i> 2016</b>). 
        [<a href="http://acemap.sjtu.edu.cn/" target="_blank">System</a>]
        </li>
			</ul>
		</div>

      </section>
      <!-- end Publication Experiences-->
      
      
 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    {% include ga.html %}
    

  </body>

</html>