<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
  

		<!-- begin Publication Experiences -->
      <section class="content-section" style="margin-top:30px;">

        <header class="section-header">
          <h2>Publications (by Years)</h2>
        </header>

    <div class = "resume-item">
      <h4 class="resume-item-details">2021</h4>
        <ul class="resume-item-list">
          <!-- NAACL TaxoClass -->
          <li>
            <b>Zixuan Zhang</b>, Nikolaus Parulian, Heng Ji, Ahmed Elsayed, Skatje Myers, and Martha Palmer. <a href="" target="_blank">Fine-grained Information Extraction from Biomedical Literature based on Knowledge-enriched Abstract Meaning Representation</a>, In Proc. of the Joint Conference of the 59th Annual Meeting of the Association for Computational Linguistics and the 11th International Joint Conference on Natural Language Processing (<b><i>ACL-IJCNLP</i> 2021</b>).
          </li>
	  <br><br>
          <!-- AAAI TMN -->
          <li>
            <b>Zixuan Zhang</b>, and Heng Ji. <a href="https://zhangzx-uiuc.github.io/" target="_blank">Abstract Meaning Representation Guided Graph Encoding and Decoding for Joint Information Extraction</a>, In Proc. of The Conference of the North American Chapter of the Association for Computational Linguistics - Human Language Technologies (<b><i>NAACL-HLT</i> 2021</b>).
            [<a href="https://www.aclweb.org/anthology/2021.naacl-main.4.pdf" target="_blank", style="color:rgb(255,0,0);">Paper</a>] [<a href="https://github.com/zhangzx-uiuc/AMR-IE" target="_blank", style="color:rgb(255,0,0);">Code</a>]
          </li>

        </ul>
		</div>

      </section>
      <!-- end Publication Experiences-->
      
      
 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    {% include ga.html %}
    

  </body>

</html>
