<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
  
      <header class="page-header">
        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <!-- <img src="images/me.jpg" alt="my photo" class="avatar" style="height: 132px;"> -->
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

      </header>

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">University of Illinois at Urbana-Champaign</h3>
          <h4 class="resume-item-details">Ph.D. Candidate in Computer Science  &bull; Aug. 2016 &mdash; May. 2021 (expected)</h4>
      <ul class="resume-item-list">
        <!-- <li>GPA: 4.0/4.0, </li> -->
        <li> Member of Data Mining Group. Supervised by Professor <b>Jiawei Han</b>. </li>
        <li> Received <b>Brian Totty Graduate Fellowship</b> at Computer Science Department. </li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Shanghai Jiao Tong University ( SJTU )</h3>
          <h4 class="resume-item-details">B.S.E. in Computer Science and Technology  &bull; Sep. 2012 &mdash; Jun. 2016</h4>
		  <ul class="resume-item-list">
		    <li>Overall GPA: 3.92/4.0 (91.71/100) &#160;&#160;&#160; <b>Major GPA: 3.98/4.0 (93.78/100)</b> &#160;&#160;&#160; <b>Rank: 1/78</b></li>
		    <li>Member of <a href="http://english.seiee.sjtu.edu.cn/english/info/8338.htm" target = "_blank">IEEE honor class</a>, an elite program at SJTU which aims to nurture scientists in computer science,
electrical and electronic technology, and information science based on MIT’s educational model.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Yale University</h3>
          <h4 class="resume-item-details">International Exchange Student  &bull; Jun. 2014 &mdash; Aug. 2014 </h4>
		  <ul class="resume-item-list">
		  	<li>One of 10 top students fully funded by notable alumnus <a href="http://www.forbes.com/profile/neil-shen/" target = "_blank">Neil Shen</a>.</li>
		  	<li>Studied in the Intensive English Program at <a href="http://summer-eli.yale.edu/" target = "_blank">English Language Institute</a>.</li>
		    <li>Earned “Certificate of Excellence” at Yale University.</li>
          </ul>
        </div>
        
      </section>
      <!-- end Education -->
      {% endif %}


		<!-- begin Publication Experiences -->
      <section class="content-section">

        <header class="section-header">
          <h2>Publications</h2>
        </header>

		<div class = "resume-item">
      <h4 class="resume-item-details">2018</h4>
        <ul class="resume-item-list">
          <!-- CIKM 2018 QC-MTLNN -->
          <li><b>Jiaming Shen</b>, Maryam Karimzadehgan, Michael Bendersky, Zhen Qin, and Donald Metzler. Multi-Task Learning for Personal Search Ranking with Auxiliary Query Clustering, <b>accepted</b> into The 27th ACM International Conference on Information and Knowledge Management (<i>CIKM</i> 2018).</li>
          <!-- KDD 2018 HiExpan -->
          <li><b>Jiaming Shen</b>, Zeqiu Wu, Dongming Lei, Chao Zhang, Xiang Ren, Michelle T. Vanni, Brian M. Sadler, and Jiawei Han. HiExpan: Task-Guided Taxonomy Construction by Hierarchical Tree Expansion, <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2018).</li>
          <!-- SIGIR 2018 SetRank -->
          <li><b>Jiaming Shen</b>, Jinfeng Xiao, Xinwei He, Jingbo Shang, Saurabh Sinha, and Jiawei Han. "Entity Set Search of Scientific Literature: An Unsupervised Ranking Approach", <b>accepted</b> into The 41st International ACM SIGIR Conference on Research and Development in Information Retrieval (<i>SIGIR</i> 2018).
          [<a href="https://arxiv.org/abs/1804.10877" target="_blank">PDF</a>]
          [<a href="https://github.com/mickeystroller/SetRank" target="_blank">Code</a>]
          </li>
          <!-- KDD Demo 2018 SetSearch+ -->
          <li><b>Jiaming Shen</b>, Jinfeng Xiao, Yu Zhang, Carl Yang, Jingbo Shang, Jinda Han, Saurabh Sinha, Peipei Ping, Richard Weinshilboum, Zhiyong Lu and Jiawei Han, "SetSearch+: Entity-Set-Aware Search and Mining for Scientific Literature", <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2018 Demo Track).
          </li>
          <!-- CIKM 2018 Weakly-supervsed Text Classification -->
          <li>Yu Meng, <b>Jiaming Shen</b>, Chao Zhang, and Jiawei Han. Weakly-Supervised Neural Text Classification, <b>accepted</b> into The 27th ACM International Conference on Information and Knowledge Management (<i>CIKM</i> 2018).</li>
          <!-- CIKM 2018 Stance-aware Rumor News Detection -->
          <li>Jingbo Shang, <b>Jiaming Shen</b>, Tianhang Sun, Xingbang Liu, Anja Gruenheid, Flip Korn, Adam Lelkes, Cong Yu, and Jiawei Han. Investigating Rumor News Using Agreement Aware Search, <b>accepted</b> into The 27th ACM International Conference on Information and Knowledge Management (<i>CIKM</i> 2018).</li>
          <!-- KDD Demo 2018 FTS -->
          <li>Hanwen Zha, <b>Jiaming Shen</b>, Keqian Li, Warren Greiff, Michelle Vanni, Jiawei Han and Xifeng Yan, "FTS: Faceted Taxonomy Construction and Search for Scientific Publications", <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2018 Demo Track).
          </li>
          <!-- KDD Demo 2018 AutoNet -->
          <li>Jingbo Shang, Qi Zhu, <b>Jiaming Shen</b>, Xuan Wang, Xiaotao Gu, Lance Kaplan, Timothy Harratty and Jiawei Han, "AutoNet: Automated Network Construction and Exploration System from Domain-Specific Corpora", <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2018 Demo Track).
          </li>
          <!-- KDD 2018 Bubble Filter -->
          <!-- <li>Jingbo Shang, Tianhang Sun, <b>Jiaming Shen</b>, Xingbang Liu, Anja Gruenheid, Flip Korn, Adam Lelkes, Cong Yu, and Jiawei Han. Investigating Rumor News Using Agreement Aware Search, <b>submitted</b> into The 24th ACM SIGKDD International Conference on Knowledge (<i>KDD</i> 2018).</li> -->
          <!-- ACL 2018 Yuning-RL -->
          <li>Yuning Mao, Xiang Ren, <b>Jiaming Shen</b>, and Jiawei Han. End-to-End Reinforcement Learning for Automatic Taxonomy Induction, <b>accepted</b> into The 56th Annual Meeting of the Association for Computational Linguistics (<i>ACL</i> 2018). 
          [<a href="https://arxiv.org/abs/1805.04044" target="_blank">PDF</a>]
          [<a href="https://github.com/morningmoni/TaxoRL" target="_blank">Code</a>]
          </li>
          <!-- KDD Tutorial 2018 -->
          <li>Jingbo Shang, Chao Zhao, <b>Jiaming Shen</b>, and Jiawei Han. "Towards Multidimensional Analysis of Text Corpora", <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge (<i>KDD</i> 2018).</li>
          <!-- KDD 2018 TaxoGen -->
          <li>Chao Zhang, Fangbo Tao, Xiusi Chen, <b>Jiaming Shen</b>, Meng Jiang, Brian M. Sadler, Michelle T. Vanni, and Jiawei Han. TaxoGen: Constructing Topical Concept Taxonomy by Adaptive Term Embedding and Clustering, <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge (<i>KDD</i> 2018).</li>
          <!-- Journal  -->
          <li>David A. Liem, Sanjana Murali, Dibakar Sigdel, Yu Shi, Xuan Wang, <b>Jiaming Shen</b>, Howard Choi, J Harry Caufield, Wei Wang, Peipei Ping, and Jiawei Han. "Phrase Mining of Textual Data to Analyze Extracellular Matrix Protein Patterns Across Cardiovascular Disease", <b>accepted</b> into <i>American Journal of Physiology-Heart and Circulatory Physiology</i>.</li>
        </ul>

      <h4 class="resume-item-details">2017</h4>
        <ul class="resume-item-list">
        <!-- ECMLPKDD SetExpan -->
        <li><b>Jiaming Shen</b>, Zeqiu Wu, Dongming Lei, Jingbo Shang, Xiang Ren, and Jiawei Han, "SetExpan: Corpus-Based Set Expansion via Context Feature Selection and Rank Ensemble", <b>accepted</b> into The European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<i>ECMLPKDD</i> 2017). [<a href="\resources\ECMLPKDD2017.pdf" target="_blank">PDF</a>]</li>
        <!-- ACL Demo LifeNet-->
        <li>Xiang Ren, <b>Jiaming Shen</b>, Meng Qu, Xuan Wang, Zeqiu Wu, Qi Zhu, Meng Jiang, Fangbo Tao, Saurabh Sinha, David Liem, Peipei Ping, Richard Weinshilboum, and Jiawei Han, "Life-iNet: A Structured Network-Based Knowledge Exploration and Analytics System for Life Sciences", <b>accepted</b> into The 55th annual meeting of the Association for Computational Linguistics (<i>ACL</i> 2017 System Demo). [<a href="\resources\ACL-Demo-2017.pdf" target="_blank">PDF</a>]</li>
        </ul>

      <h4 class="resume-item-details">2016</h4>
        <ul class="resume-item-list">
        <!-- ICDM Workshop Junxian -->
        <li>Junxian He, Yin Huang, Changfeng Liu, <b>Jiaming Shen</b>, Yuting Jia, and Xinbing Wang, "Text network exploration via heterogeneous web of topics", <b>accepted</b> into the Sixth IEEE ICDM Workshop on Data Mining in Networks (<i>ICDM</i> 2016 Workshop). [<a href="\resources\ICDM2016.pdf" target="_blank">PDF</a>]</li>
        </ul>

			<h4 class="resume-item-details">2015</h4>
			<ul class="resume-item-list">
        <!-- AAAI Topical LDA -->
				<li><b>Jiaming Shen</b>, Zhenyu Song, Shitao Li, Zhaowei Tan, Yuning Mao, Luoyi Fu, Li Song, and Xinbing Wang, "Modeling Topic-level Academic Influence in Scientific Literatures", <b>accepted</b> into Thirtieth AAAI Conference on Artificial Intelligence (<i>AAAI</i> 2016) Workshop on Scholarly Big Data. [<a href="\resources\AAAI2016_SBD.pdf" target="_blank">PDF</a>] [<a href="\resources\AAAI2016_slides.pdf" target="_blank">Slide</a>]</li>
				<li><b>Jiaming Shen</b>, Zhaowei Tan, Luoyi Fu, and Xinbing Wang, "Trend Analysis of Top-tier Conferences in Computer Network Field", <b>accepted</b> into <i>Communications of the China Computer Federation</i>, 11(9), 62-66, 2015. [<a href="\resources\CCCF2015.pdf" target="_blank">PDF</a>]</li>
				<li>Zhaowei Tan, Changfeng Liu, Yuning Mao, <b>Jiaming Shen</b>, Bin Wang, Luoyi Fu, Li Song, and Xinbing Wang, "AceMap: A Novel Approach towards Displaying Relationship among Academic Literatures", <b>accepted</b> to 25th International World Wide Web Conference (<i>WWW</i> 2016). [<a href="\resources\WWW2016.pdf" target="_blank">PDF</a>] [<a href="http://acemap.sjtu.edu.cn/" target="_blank">System</a>]</li>
			</ul>
		</div>

      </section>
      <!-- end Publication Experiences-->
      
      
      
      
      <!-- begin Research Experiences -->
      <section class="content-section">

        <header class="section-header">
          <h2>Research</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <!--  <div class="resume-item">
          <h3 class="resume-item-title">Automatic Construction of Faceted Taxonomy</h3>
          <h4 class="resume-item-details">Supervised by Prof. Jiawei Han &bull; Aug, 2016 &mdash; Present</h4>
          <ul class="resume-item-list">
          	<li>Parse over 80GB Wikidata Knowledge Base and implement an entity linker to Wikidata by integrating phrasal segmentation on raw text and learning to rank techniques on extracted entity features.</li>
            <li>Apply three methods to construct a faceted taxonomy, including local-global co-occurrence analysis, entity-word embeddings, and recursive hierarchical clustering.</li>
          </ul>
        </div><!-- end of resume-item --> 


        <div class="resume-item">
          <h3 class="resume-item-title">Multi-Task Learning for Personal Search with Query Clustering</h3>
          <h4 class="resume-item-details">Google Intern Work &bull; May 2017 &mdash; Aug. 2017 </h4>
          <ul class="resume-item-list">
            <li>Developed a hierarchical clustering algorithm based on truncated SVD and varimax rotation for query clustering based on query/document attributes in personal search.</li>
            <li>Proposed a query-dependent deep neural ranking model based on the multi-task learning framework.</li>
            <li>Improved offline Gmail ranking quality by 0.8% in terms of MRR and 1.32% in terms of success@1.</li>
          </ul>
        </div>
        <!-- end of resume-item -->

        <div class="resume-item">
          <h3 class="resume-item-title">Entity Set Aware Information Retrieval System</h3>
          <h4 class="resume-item-details">Supervised by Prof. Jiawei Han &bull; Aug. 2017 &mdash; Present </h4>
          <ul class="resume-item-list">
            <li>Propose an unsupervised ranking algorithm based on entity language model for biomedical literature search.</li>
            <li>Parse over 100GB PubTator and PubMed datasets, and build a real-time system based on ElasticSearch.</li>
          </ul>
        </div>


<!--          <div class="resume-item">
          <h3 class="resume-item-title">Multi-gene-set Information Retrieval System</h3>
          <h4 class="resume-item-details">Supervised by Prof. Jiawei Han &bull; Aug, 2016 &mdash; Present</h4>
          <ul class="resume-item-list">
          	<li>Propose OR-pAND algorithm to re-rank the retrieval output for queries containing a set of multiple genes.</li>
            <li>Parse over 100GB PMC dataset and implemented OR-pAND algorithm using Whoosh and ElasticSearch.</li>
          </ul>
        </div> -->
        <!-- end of resume-item -->
 
        <div class="resume-item">
          <h3 class="resume-item-title">Overlapping Community Detection in Text Network</h3>
          <h4 class="resume-item-details">Supervised by Prof. Xinbing Wang &bull; Feb, 2016 &mdash; Jul, 2016 </h4>
          <ul class="resume-item-list">
          	<li>Generated 32 large text networks based on Microsoft Academic Graph and studied their community structures.</li>
            <li>Proposed an affiliation graph model to capture community interactions and consider information from both
link structures and node attributes.</li>
			<li>Achieved 40% improvements in terms of the accuracy of detected communities on 17 real networks.</li>
          </ul>
        </div><!-- end of resume-item -->
                      
        <div class="resume-item">
          <h3 class="resume-item-title">Topic-based Academic Information Retrieval System</h3>
          <h4 class="resume-item-details">Supervised by Prof. Xinbing Wang &bull; Sep, 2015 &mdash; Jun. 2016</h4>
          <ul class="resume-item-list">
          	<li>Managed a group of 7 people developing a topic-based search engine. Refactored and configured an open source enterprise search platform Solr.</li>
            <li>Returned paper search results based on both word-level and topic-level similarities with user’s query.</li>
            <li>Ranked papers according to their influence scores as well as their relevance to the query.</li>
            <li>Visualized the topic distribution of each paper and topic evolution among the whole corpus.</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Modeling Academic Influence in Scientific Literatures</h3>
          <h4 class="resume-item-details">Supervised by Prof. Xinbing Wang &bull; Apr, 2015 &mdash; Sep, 2015</h4>
          <ul class="resume-item-list">
            <li>Devised a generative model named Reference Topic Model (RefTM) to utilize both the textual content and citation information in scientific literatures.</li>
            <li>Proposed a fast inference algorithm based on collapsed Gibbs Sampling to learn RefTM effectively.</li>
            <li>Introduced a quantitative metric named <i>J-Index</i> to model academic influence in scientific literatures.</li>
			<li>Designed experiments on a collection of over 420,000 research papers to validate the effectiveness of <i>J-Index</i>.</li>
          </ul>
        </div><!-- end of resume-item -->
        
		<div class="resume-item">
          <h3 class="resume-item-title">Exponential Interest Aggregation in Named Data Networking</h3>
          <h4 class="resume-item-details">Supervised by Prof. Weijia Jia &bull; Apr, 2015 &mdash; Jul, 2015</h4>
          <ul class="resume-item-list">
            <li>Proposed Exponential Interest Aggregation (EIA), an adaptive forwarding strategy addressing hop-by-hop congestion control problem in Named Data Networking (NDN).</li>
            <li>Established the Interest aggregation state transition framework in NDN, and analyzed the effectiveness of EIA algorithm mathematically under this framework.</li>
            <li>Conducted simulation to evaluate the performance of EIA, and showed that EIA improved average delay by 13%, average number of retransmission by 25%, and cache hit ratio by 61%</li>
          </ul>
        </div><!-- end of resume-item -->
        
      </section>
      <!-- end Research Experiences-->


      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Accent Classification of English Speakers</h3>
          <h4 class="resume-item-details">This work was advised by Prof. Kai Yu.</h4>
		  <ul class="resume-item-list">
            <li>Solved the accent classification problem through four steps -- word segmentation, feature extraction, clip classification and recording classification.</li>
            <li>Built a system with Mel-Frequency Cepstral Coefficients (MFCC) as the feature vector and Logistic Regression as the classification method, and achieved an overall classification accuracy of 97%.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">PM2.5 Concentration Prediction using Time Series based Data Mining</h3>
          <h4 class="resume-item-details">This work was advised by Prof. Bo Yuan.</h4>
		  <ul class="resume-item-list">
            <li>Formalized PM2.5 prediction problem, an important issue in the control and reduction of pollutants in the air.</li>
            <li>Applied three methods to deal with PM2.5 prediction problem, including AutoRegressive-Moving-Average (ARMA) model, Stochastic Volatility (SV) model, and Stock-Watson (SW) model.</li>
            <li>Designed a novel model combining Stock-Watson model with Time Series Neural Network to achieve a better prediction accuracy for PM2.5 concentration in the next 6 hours.</li>
          </ul>
        </div>
        
		<div class="resume-item">
          <h3 class="resume-item-title">A Map-Generating and Speed-Optimizing Driving System</h3>
          <h4 class="resume-item-details">This work was advised by Prof. Xinbing Wang.</h4>
          <ul class="resume-item-list">
            <li>Designed and implemented a traffic signal schedule inference model to estimate the duration of traffic light.</li>
            <li>Integrated this model in a speed-optimizing driving system named CityDrive, which reduced the total waiting time per vehicle by 98.8% in the simulation and saved 58.8% of kinetic energy in real tests. </li>
          </ul>
        </div>

		<div class="resume-item">
          <h3 class="resume-item-title">Static Website Construction</h3>
          <ul class="resume-item-list">
            <li>Designed and constructed IEEE Honor Class home page, using Bootstrap 3, plain HTML/CSS, and JavaScript.</li>
            <li>Developed Shanghai Jiao Tong University president home page (Chinese Version), based on Joomla! CMS.</li>
			<li>Created several static personal home pages and static Blogs, using GitHub Pages combined with Jekyll.</li>
          </ul>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Selected Awards -->
      <section class="content-section">

        <header class="section-header">
          <h2>Selected Awards</h2>
        </header>
        
		<div class="resume-item">
          <ul class="resume-item-list" style="font-size: 18px;">
            <li><b>Brian Totty Graduate Fellowship &bull; 2016 -- 2017 </b></li>
            <li>Tang lixin Scholarship (Top 1%) &bull; 2016 -- 2021 </li>
            <li>Chuntsung Scholarship (Top 1%) &bull; 2015 -- 2016 </li>
            <li>National Scholarship (Top 1%) &bull; 2013 -- 2014 & 2014 -- 2015 </li>
			<li>Academic Excellence Scholarship (Type A) of SJTU (Top 1%) &bull; 2013 -- 2014 & 2014 -- 2015 </li>
            <li>Arawana Scholarship (Top 5%) &bull; 2012-2013 </li>
			<li>“Merit Student” of SJTU  &bull; 2012 -- 2013 & 2013 -- 2014 </li>
            <li>Honorable Mention in 2015 Interdisciplinary Contest In Modeling &bull; 2015</li>
			<li>Second Prize in China Undergraduate Mathematical Contest in Modeling (Shanghai Division) &bull; 2014</li>
            <li>Third Prize in National Undergraduate Physics Competition (Shanghai Division) &bull; 2013</li>
          </ul>
        </div>

      </section>
      <!-- end Selected Awards -->
      {% endif %}
      
            {% if site.resume_section_recognition %}
      <!-- begin Selected Extra-curricular Activities -->
      <section class="content-section">

        <header class="section-header">
          <h2>Selected Extra-curricular Activities</h2>
        </header>
        
		<div class="resume-item">
          <ul class="resume-item-list" style="font-size: 18px;">
            <li><b>Leader</b> of IEEE Honor Class  &bull; 2012 -- 2016  </li>
            <li><b>Personal Tutor</b> of <i>Mathematical Analysis</i> Course &bull; 2012 -- 2013 </li>
			<li><b>Teaching Assistant</b> of <i>Programming and Data Structures</i> Course &bull; 2013 -- 2014  </li>
            <li><b>Volunteer</b> for Shanghai International Marathon &bull; 2013 -- 2014  </li>
            <li><b>Member</b> of the Student Union of the School of Electronic Information and Electrical Engineering &bull; 2013 -- 2015 </li>
          </ul>
        </div>

      </section>
      <!-- end Selected Awards -->
      {% endif %}
      
      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

		<div class="resume-item">
          <h4 class="resume-item-details">English</h4>
          <ul class="resume-item-list">
            <li>TOEFL 109 ( Reading:30, Listening:29, Speaking:26, Writing:24 )</li>
			<li>GRE 328 ( Verbal:158, Quantitative:170, Analytical Writing:3.5 )</li>
			<li>Passed Advanced-Level English Interpretation Accreditation Examination</li>
          </ul>
        </div>
        
        <div class="resume-item">
          <h4 class="resume-item-details">Computer Languages</h4>
          <ul class="resume-item-list">
          <li>Python, R, Mathematica, C++, MATLAB, HTML5&CSS3, JavaScript</li>
          </ul>
        </div>
        
		<div class="resume-item">
          <h4 class="resume-item-details">Tools</h4>
          <ul class="resume-item-list">
          <li>Git, Latex, Vim, Linux, Keynote, MS Offices, OmniGraffle</li>
          </ul>
        </div>
        
      </section>
      <!-- end Skills -->
      {% endif %}

	 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    {% include ga.html %}
    

  </body>

</html>