<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
  

		<!-- begin Publication Experiences -->
      <section class="content-section" style="margin-top:30px;">

        <header class="section-header">
          <h2>Selected Publications (by Years)</h2>
        </header>

    <div class = "resume-item">
      <h4 class="resume-item-details">2018</h4>
        <ul class="resume-item-list">
          <!-- CIKM 2018 QC-MTLNN -->
          <li><b>Jiaming Shen</b>, Maryam Karimzadehgan, Michael Bendersky, Zhen Qin, and Donald Metzler. Multi-Task Learning for Personal Search Ranking with Auxiliary Query Clustering, <b>accepted</b> into The 27th ACM International Conference on Information and Knowledge Management (<i>CIKM</i> 2018).
          [<a href="https://arxiv.org/abs/1809.05618" target="_blank">PDF</a>]
          </li>
          <!-- KDD 2018 HiExpan -->
          <li><b>Jiaming Shen</b>, Zeqiu Wu, Dongming Lei, Chao Zhang, Xiang Ren, Michelle T. Vanni, Brian M. Sadler, and Jiawei Han. HiExpan: Task-Guided Taxonomy Construction by Hierarchical Tree Expansion, <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2018).
          [<a href="http://hanj.cs.illinois.edu/pdf/kdd18_jshen.pdf" target="_blank">PDF</a>]
          [<a href="https://github.com/mickeystroller/HiExpan" target="_blank">Code</a>]
          </li>
          <!-- SIGIR 2018 SetRank -->
          <li><b>Jiaming Shen</b>, Jinfeng Xiao, Xinwei He, Jingbo Shang, Saurabh Sinha, and Jiawei Han. "Entity Set Search of Scientific Literature: An Unsupervised Ranking Approach", <b>accepted</b> into The 41st International ACM SIGIR Conference on Research and Development in Information Retrieval (<i>SIGIR</i> 2018).
          [<a href="https://arxiv.org/abs/1804.10877" target="_blank">PDF</a>]
          [<a href="https://github.com/mickeystroller/SetRank" target="_blank">Code</a>]
          </li>
          <!-- KDD Demo 2018 SetSearch+ -->
          <li><b>Jiaming Shen</b>, Jinfeng Xiao, Yu Zhang, Carl Yang, Jingbo Shang, Jinda Han, Saurabh Sinha, Peipei Ping, Richard Weinshilboum, Zhiyong Lu and Jiawei Han, "SetSearch+: Entity-Set-Aware Search and Mining for Scientific Literature", <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2018 Demo Track).
          [<a href="http://www.kdd.org/kdd2018/files/project-showcase/KDD18_paper_1815.pdf" target="_blank">PDF</a>]
          [<a href="http://128.174.244.6:8080/" target="_blank">System</a>]
          </li>
          <!-- CIKM 2018 Weakly-supervsed Text Classification -->
          <li>Yu Meng, <b>Jiaming Shen</b>, Chao Zhang, and Jiawei Han. Weakly-Supervised Neural Text Classification, <b>accepted</b> into The 27th ACM International Conference on Information and Knowledge Management (<i>CIKM</i> 2018).
          [<a href="https://arxiv.org/abs/1809.01478" target="_blank">PDF</a>]
          [<a href="https://github.com/yumeng5/WeSTClass" target="_blank">Code</a>]
          </li>
          <!-- CIKM 2018 Stance-aware Rumor News Detection -->
          <li>Jingbo Shang, <b>Jiaming Shen</b>, Tianhang Sun, Xingbang Liu, Anja Gruenheid, Flip Korn, Adam Lelkes, Cong Yu, and Jiawei Han. Investigating Rumor News Using Agreement Aware Search, <b>accepted</b> into The 27th ACM International Conference on Information and Knowledge Management (<i>CIKM</i> 2018).
          [<a href="https://arxiv.org/pdf/1802.07398v2.pdf" target="_blank">PDF</a>]
          </li>
          <!-- KDD Demo 2018 FTS -->
          <li>Hanwen Zha, <b>Jiaming Shen</b>, Keqian Li, Warren Greiff, Michelle Vanni, Jiawei Han and Xifeng Yan, "FTS: Faceted Taxonomy Construction and Search for Scientific Publications", <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2018 Demo Track).
          </li>
          <!-- KDD Demo 2018 AutoNet -->
          <li>Jingbo Shang, Qi Zhu, <b>Jiaming Shen</b>, Xuan Wang, Xiaotao Gu, Lance Kaplan, Timothy Harratty and Jiawei Han, "AutoNet: Automated Network Construction and Exploration System from Domain-Specific Corpora", <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2018 Demo Track).
          </li>
          <!-- KDD 2018 Bubble Filter -->
          <!-- <li>Jingbo Shang, Tianhang Sun, <b>Jiaming Shen</b>, Xingbang Liu, Anja Gruenheid, Flip Korn, Adam Lelkes, Cong Yu, and Jiawei Han. Investigating Rumor News Using Agreement Aware Search, <b>submitted</b> into The 24th ACM SIGKDD International Conference on Knowledge (<i>KDD</i> 2018).</li> -->
          <!-- ACL 2018 Yuning-RL -->
          <li>Yuning Mao, Xiang Ren, <b>Jiaming Shen</b>, and Jiawei Han. End-to-End Reinforcement Learning for Automatic Taxonomy Induction, <b>accepted</b> into The 56th Annual Meeting of the Association for Computational Linguistics (<i>ACL</i> 2018). 
          [<a href="https://arxiv.org/abs/1805.04044" target="_blank">PDF</a>]
          [<a href="https://github.com/morningmoni/TaxoRL" target="_blank">Code</a>]
          </li>
          <!-- KDD Tutorial 2018 -->
          <li>Jingbo Shang, Chao Zhao, <b>Jiaming Shen</b>, and Jiawei Han. "Towards Multidimensional Analysis of Text Corpora", <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge (<i>KDD</i> 2018).</li>
          <!-- KDD 2018 TaxoGen -->
          <li>Chao Zhang, Fangbo Tao, Xiusi Chen, <b>Jiaming Shen</b>, Meng Jiang, Brian M. Sadler, Michelle T. Vanni, and Jiawei Han. TaxoGen: Constructing Topical Concept Taxonomy by Adaptive Term Embedding and Clustering, <b>accepted</b> into The 24th ACM SIGKDD International Conference on Knowledge (<i>KDD</i> 2018).</li>
          <!-- Journal  -->
          <li>David A. Liem, Sanjana Murali, Dibakar Sigdel, Yu Shi, Xuan Wang, <b>Jiaming Shen</b>, Howard Choi, J Harry Caufield, Wei Wang, Peipei Ping, and Jiawei Han. "Phrase Mining of Textual Data to Analyze Extracellular Matrix Protein Patterns Across Cardiovascular Disease", <b>accepted</b> into <i>American Journal of Physiology-Heart and Circulatory Physiology</i>.</li>
        </ul>

      <h4 class="resume-item-details">2017</h4>
        <ul class="resume-item-list">
        <!-- ECMLPKDD SetExpan -->
        <li><b>Jiaming Shen</b>, Zeqiu Wu, Dongming Lei, Jingbo Shang, Xiang Ren, and Jiawei Han, "SetExpan: Corpus-Based Set Expansion via Context Feature Selection and Rank Ensemble", <b>accepted</b> into The European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<i>ECMLPKDD</i> 2017). [<a href="\resources\ECMLPKDD2017.pdf" target="_blank">PDF</a>]</li>
        <!-- ACL Demo LifeNet-->
        <li>Xiang Ren, <b>Jiaming Shen</b>, Meng Qu, Xuan Wang, Zeqiu Wu, Qi Zhu, Meng Jiang, Fangbo Tao, Saurabh Sinha, David Liem, Peipei Ping, Richard Weinshilboum, and Jiawei Han, "Life-iNet: A Structured Network-Based Knowledge Exploration and Analytics System for Life Sciences", <b>accepted</b> into The 55th annual meeting of the Association for Computational Linguistics (<i>ACL</i> 2017 System Demo). [<a href="\resources\ACL-Demo-2017.pdf" target="_blank">PDF</a>]</li>
        </ul>

      <h4 class="resume-item-details">2016</h4>
        <ul class="resume-item-list">
        <!-- ICDM Workshop Junxian -->
        <li>Junxian He, Yin Huang, Changfeng Liu, <b>Jiaming Shen</b>, Yuting Jia, and Xinbing Wang, "Text network exploration via heterogeneous web of topics", <b>accepted</b> into the Sixth IEEE ICDM Workshop on Data Mining in Networks (<i>ICDM</i> 2016 Workshop). [<a href="\resources\ICDM2016.pdf" target="_blank">PDF</a>]</li>
        </ul>

			<h4 class="resume-item-details">2015</h4>
			<ul class="resume-item-list">
        <!-- AAAI Topical LDA -->
				<li><b>Jiaming Shen</b>, Zhenyu Song, Shitao Li, Zhaowei Tan, Yuning Mao, Luoyi Fu, Li Song, and Xinbing Wang, "Modeling Topic-level Academic Influence in Scientific Literatures", <b>accepted</b> into Thirtieth AAAI Conference on Artificial Intelligence (<i>AAAI</i> 2016) Workshop on Scholarly Big Data. [<a href="\resources\AAAI2016_SBD.pdf" target="_blank">PDF</a>] [<a href="\resources\AAAI2016_slides.pdf" target="_blank">Slide</a>]</li>
				<li><b>Jiaming Shen</b>, Zhaowei Tan, Luoyi Fu, and Xinbing Wang, "Trend Analysis of Top-tier Conferences in Computer Network Field", <b>accepted</b> into <i>Communications of the China Computer Federation</i>, 11(9), 62-66, 2015. [<a href="\resources\CCCF2015.pdf" target="_blank">PDF</a>]</li>
				<li>Zhaowei Tan, Changfeng Liu, Yuning Mao, <b>Jiaming Shen</b>, Bin Wang, Luoyi Fu, Li Song, and Xinbing Wang, "AceMap: A Novel Approach towards Displaying Relationship among Academic Literatures", <b>accepted</b> to 25th International World Wide Web Conference (<i>WWW</i> 2016). [<a href="\resources\WWW2016.pdf" target="_blank">PDF</a>] [<a href="http://acemap.sjtu.edu.cn/" target="_blank">System</a>]</li>
			</ul>
		</div>

      </section>
      <!-- end Publication Experiences-->
      
      
 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    {% include ga.html %}
    

  </body>

</html>