<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
  
      <header class="page-header">
        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <!-- <img src="images/me.jpg" alt="my photo" class="avatar" style="height: 132px;"> -->
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

      </header>

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Shanghai Jiao Tong University ( SJTU )</h3>
          <h4 class="resume-item-details">B.E. in Computer Science and Technology  &bull; Sep, 2012 &mdash; Jun, 2016 </h4>
		  <ul class="resume-item-list">
		    <li>GPA: 3.92/4.0 (91.78/100); &#160;&#160;&#160; Rank: <b>1</b>/78</li>
		    <li>Studied in <a href="http://english.seiee.sjtu.edu.cn/english/info/8338.htm", target = "_blank">IEEE Honor Class</a>, also known as IEEE Pilot Class, which is an elite-education program in SJTU, founded in 2011.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Yale University </h3>
          <h4 class="resume-item-details">International Exchange Student  &bull; Jun, 2014 &mdash; Oct, 2014 </h4>
		  <ul class="resume-item-list">
		    <li>10 top students from SJTU, earned “Certificate of Excellence”.</li>
          </ul>
        </div>
        
      </section>
      <!-- end Education -->
      {% endif %}


      <!-- begin Research Experiences -->
      <section class="content-section">

        <header class="section-header">
          <h2>Research</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Topic-based Academic Search Engine</h3>
          <h4 class="resume-item-details">Supervised by Prof. Xinbing Wang &bull; Sep, 2015 &mdash; Present</h4>
          <ul class="resume-item-list">
            <li>Returned paper search results based on both word-level and topic-level similarity with user’s query.</li>
            <li>Ranked papers according to their influence scores as well as their relevance to the query.</li>
            <li>Visualized the topic distribution of each paper and topic evolution among the whole corpus.</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Modeling Academic Influence in Scientific Literatures</h3>
          <h4 class="resume-item-details">Supervised by Prof. Xinbing Wang &bull; Apr, 2015 &mdash; Sep, 2015</h4>
          <ul class="resume-item-list">
            <li>Devised a generative model to utilize both the textual content and citation information in scientific literatures.</li>
            <li>Proposed a fast inference algorithm to learn this generative model based on collapsed Gibbs Sampling.</li>
            <li>Introduced a novel quantitative metric named J-Index to model academic influence in scientific literatures.</li>
			<li>Designed experiments on a collection of over 420,000 research papers to validate the effectiveness of J-Index.</li>
          </ul>
          <p class="resume-item-copy">This work was submitted to AAAI 2016.</p>
        </div><!-- end of resume-item -->
        
		<div class="resume-item">
          <h3 class="resume-item-title"> Exponential Interest Aggregation for Hop-by-hop Congestion Control in Named Data Networking</h3>
          <h4 class="resume-item-details">Supervised by Prof. Weijia Jia &bull; Apr, 2015 &mdash; Jul, 2015</h4>
          <ul class="resume-item-list">
            <li>Established the Interest aggregation state transition framework in Named Data Networking.</li>
            <li>Proposed Exponential Interest Aggregation (EIA), an adaptive forwarding strategy addressing NDN congestion control problem in a hop-by-hop manner.</li>
            <li>Analyzed the effectiveness of EIA algorithm mathematically under the Interest aggregation state transition framework.</li>
			<li>Conducted simulation to evaluate the performance of EIA and showed that EIA improves average delay by 13%, average number of retransmission by 25% and cache hit ratio by 61%.</li>
          </ul>
          <p class="resume-item-copy">This work was submitted to IEEE INFOCOM 2016.</p>
        </div><!-- end of resume-item -->
        
      </section>
      <!-- end Research Experiences-->


      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Accent Classification of English Speakers</h3>
          <h4 class="resume-item-details">This work was advised by Prof. Kai Yu.</h4>
		  <ul class="resume-item-list">
            <li>Hacked the accent classification problem through four steps -- word segmentation, feature extraction, clip classification and recording classification.</li>
            <li>Built a system with MFCC as feature vectors and Logistic Regression as classification method, and achieved an overall accuracy of 97%.</li>
          </ul>
		<p>This project is hosted on GitHub. [Codes] [<a href="/resources/ML_Project_Jiaming Shen.pdf" target="_blank">PDF</a>].</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">PM2.5 Concentration prediction using time series based data mining</h3>
          <h4 class="resume-item-details">This work was advised by Prof. Bo Yuan.</h4>
		  <ul class="resume-item-list">
            <li>Applied three methods to deal with PM2.5 prediction problem, including ARMA model, Stochastic Volatility (SV) Model and Stock-Watson (SW) Model.</li>
            <li>Designed a novel model combining SW model with Time Series Neural Network to achieve a better prediction accuracy for PM2.5 in next 6 hours.</li>
          </ul>
          <p>This project is hosted on GitHub. [Codes] [<a href="/resources/DM_Project_Jiaming Shen.pdf" target="_blank">PDF</a>].</p>
        </div>
        
		<div class="resume-item">
          <h3 class="resume-item-title">CityDrive: A map-generating and Speed-Optimizing Driving System</h3>
          <h4 class="resume-item-details">This work was advised by Prof. Xinbing Wang.</h4>
          <ul class="resume-item-list">
            <li>Designed a Traffic Signal Schedule Inference Model in speed-optimizing driving system CityDrive.</li>
            <li>Implemented the algorithm to estimate the duration of traffic light in Matlab.</li>
          </ul>
        </div>

		<div class="resume-item">
          <h3 class="resume-item-title">IEEE Honor Class Homepage</h3>
          <ul class="resume-item-list">
            <li>Designed the layouts of IEEE Honor Class home page and determined the contents to display.</li>
            <li>Constructed the website using Bootstrap 3, plain HTML/CSS and pure JavaScript.</li>
          </ul>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Selected Awards -->
      <section class="content-section">

        <header class="section-header">
          <h2>Selected Awards</h2>
        </header>
        
		<div class="resume-item">
          <ul class="resume-item-list" style="font-size: 18px;">
            <li>National Scholarship (Top 1%) &bull; 2013 -- 2014 & 2014 -- 2015 </li>
			<li>Academic Excellence Scholarship (Type A) of SJTU (Top 5%) &bull; 2013 -- 2014 & 2014 -- 2015 </li>
            <li>Arawana Scholarship (Top 5%) &bull; 2012-2013 </li>
			<li>“Merit Student” of SJTU  &bull; 2012 -- 2013 & 2013 -- 2014 </li>
            <li>Honorable Mention in 2015 Interdisciplinary Contest In Modeling</li>
          </ul>
        </div>

      </section>
      <!-- end Selected Awards -->
      {% endif %}
      
            {% if site.resume_section_recognition %}
      <!-- begin Selected Extra-curricular Activities -->
      <section class="content-section">

        <header class="section-header">
          <h2>Selected Extra-curricular Activities</h2>
        </header>
        
		<div class="resume-item">
          <ul class="resume-item-list" style="font-size: 18px;">
            <li><b>Leader</b> of IEEE Honor Class  &bull; 2012 -- 2016  </li>
			<li><b>Teaching Assistant</b> of C++ Programming Course &bull; 2013 -- 2014  </li>
            <li><b>Volunteer</b> for Shanghai International Marathon &bull; 2013 -- 2014  </li>
          </ul>
        </div>

      </section>
      <!-- end Selected Awards -->
      {% endif %}
      
      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

		<div class="resume-item">
          <h4 class="resume-item-details">English</h4>
          <ul class="resume-item-list">
            <li>TOEFL 109 ( Reading:30, Listening:29, Speaking:26, Writing:24 )</li>
			<li>GRE 323 ( Verbal:154, Quantitative:169, AW:3.0 )</li>
			<li>Passed Advanced-Level English Interpretation Accreditation Examination</li>
          </ul>
        </div>
        
        <div class="resume-item">
          <h4 class="resume-item-details">Computer Languages</h4>
          <ul class="resume-item-list">
          <li>R, Mathematica, Python, C++, MATLAB, HTML5&CSS3, JavaScript, Java</li>
          </ul>
        </div>
        
		<div class="resume-item">
          <h4 class="resume-item-details">Tools</h4>
          <ul class="resume-item-list">
          <li>Git, Latex, Vim, Linux, Keynotes, MS Offices, OmniGraffle</li>
          </ul>
        </div>
        
      </section>
      <!-- end Skills -->
      {% endif %}

	 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    <!-- {% include ga.html %} -->
    

  </body>

</html>